{% load static %}
<div class="navbar container">
    <div class="navbar-start">
        

        <a href="/" class="normal-case text-xl">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                <img src="{% static 'images/logo.png' %}" />
                </div>
            </label>
        </a>
        
        <div class="dropdown">

        <label tabindex="0" class="btn btn-ghost lg:hidden">
            <i class="fa-solid fa-barcode fa-rotate-90 fa-xl"></i>
        </label>

        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Item 1</a></li>
            <li tabindex="0">
                <a class="justify-between">
                    Parent
                    <i class="fa-solid fa-caret-down fa-rotate-270"></i>
                </a>
                <ul class="p-2">
                    <li><a>Submenu 1</a></li>
                    <li><a>Submenu 2</a></li>
                </ul>
            </li>
            <li><a>Item 3</a></li>
        </ul>

    </div>

</div>

<div class="navbar-center hidden lg:flex">

    <ul class="menu menu-horizontal px-1">
        <li><a>Item 1</a></li>
        <li><a>Item 3</a></li>
        <li><a>Item 4</a></li>
        <li tabindex="0">
            <a>
                Parent
                <i class="fa-solid fa-caret-down"></i>
            </a>
            <ul class="p-2">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
            </ul>
        </li>
    </ul>

</div>

<div class="navbar-end">
    <a class="btn">Get started</a>
</div>

</div>