{% load static %}
<div class="navbar container">
    <div class="navbar-start">
        

        <a href="/" class="normal-case text-xl">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                <img src="{% static 'images/logo.png' %}" />
                </div>
            </label>
        </a>
        
        <div class="dropdown">

        <label tabindex="0" class="btn btn-ghost lg:hidden">
            <i class="fa-solid fa-barcode fa-rotate-90 fa-xl"></i>
        </label>

    </div>

</div>

<div class="navbar-center hidden lg:flex">
</div>

<div class="navbar-end">
    <a href="{% url 'CRUD:readme' %}" class="btn">Read Me</a>
</div>

</div>